<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog"
             type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Blobify.Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <nlog autoReload="true"
       throwExceptions="true"
       internalLogFile="nlog-internals.log"
       xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="Company"
              value="SquidEyes" />
    <variable name="Product"
              value="Blobify" />
    <variable name="Logs"
              value="$Logs" />
    <variable name="FileName"
              value="${Company}_${Product}_${date:format=yyyyMMdd}_${date:cached=true:format=yyyyMMddHHmmssfff}.log" />
    <variable name="FilePath"
              value="${Logs}/${date:format=yyyy}/${FileName}" />
    <targets>
      <target xsi:type="ColoredConsole"
              name="console"
              encoding="utf-8">
        <layout xsi:type="CSVLayout"
                delimiter="Tab"
                withHeader="False"
                quoting="Nothing">
          <column name="Time"
                  layout="${time}" />
          <column name="Level"
                  layout="${level}" />
          <column name="Message"
                  layout="${message}" />
        </layout>
      </target>
      <target name="file"
              xsi:type="AsyncWrapper">
        <target xsi:type="RetryingWrapper"
                retryDelayMilliseconds="3000"
                retryCount="10">
          <target xsi:type="File"
                  fileName="${FilePath}"
                  encoding="utf-8">
            <layout xsi:type="CSVLayout"
                    delimiter="Tab"
                    withHeader="False">
              <column name="Time"
                      layout="${time}" />
              <column name="Level"
                      layout="${level}" />
              <column name="Message"
                      layout="${message}" />
            </layout>
          </target>
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*"
              minLevel="Info"
              maxLevel="Fatal"
              writeTo="file" />
      <logger name="*"
              minLevel="Trace"
              maxLevel="Fatal"
              writeTo="console" />
    </rules>
  </nlog>
  <applicationSettings>
    <Blobify.Uploader.Properties.Settings>
      <setting name="SettingsFolder" serializeAs="String">
        <value>Settings</value>
      </setting>
      <setting name="MaxFilesToProccess" serializeAs="String">
        <value>10000</value>
      </setting>
    </Blobify.Uploader.Properties.Settings>
  </applicationSettings>
</configuration>
